.deck {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  min-height: 500px;
  place-items: center;
  row-gap: 70px;
  column-gap: 40px;
  margin-bottom: 30px;
}

.image-container {
  max-width: 300px;
  padding: 20px 20px 50px 20px;
  background: linear-gradient(45deg, #c3073f, #950740, #6f2232);
  border-radius: 15px;
  cursor: pointer;
}

.deck img {
  border: 2px solid #4e4e50;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Enter Transition */
.rotate-enter {
  transform: rotateY(0);
}

.rotate-enter-active {
  transform: rotateY(90deg);
  transition: transform 0.5s linear;
}
.rotate-enter-done {
  transform: rotateY(0deg);
  transition: transform 0.5s linear;
}

/* Exit Transition */
.rotate-exit {
  transform: rotateY(0deg);
}

.rotate-exit-active {
  transform: rotateY(90deg);
  transition: transform 0.5s linear;
}

.rotate-exit-done {
  transform: rotateY(0deg);
  transition: transform 0.5s linear;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 769px) {
  .deck {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 50px;
  }

  .image-container {
    padding: 10px 10px 30px 10px;
  }
}
