.game-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  overflow: hidden;
  gap: 20px;
}

.score {
  color: white;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.loading {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  opacity: 0;
  animation: show 0.9s infinite ease-in-out alternate forwards;
}
