.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.instructions-score-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.instructions {
  margin-left: 10px;
  text-align: start;
  width: 50%;
  font-size: 30px;
}

.score {
  color: white;
  font-size: 50px;
  width: 50%;
  margin: 20px;
  text-align: end;
}

.loading {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  opacity: 0;
  animation: show 0.9s infinite ease-in-out alternate forwards;
}

@media (max-width: 769px) {
  .game-container {
    height: 100%;
    gap: 30px;
  }

  .instructions {
    font-size: 25px;
  }

  .score {
    font-size: 50px;
  }
}

@media (max-width: 464px) {
  .game-container {
    width: 100vw;
  }

  .instructions {
    font-size: 15px;
  }

  .score {
    font-size: 35px;
  }
}
