.game-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  gap: 20px;
}

.instructions-score-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.instructions {
  margin-left: 10px;
  text-align: start;
  width: 40%;
  font-size: 30px;
}

.score {
  color: white;
  font-size: 50px;
  margin: 20px 30px 10px 0px;
}

.loading {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  opacity: 0;
  animation: show 0.9s infinite ease-in-out alternate forwards;
}
